.HeroContent {
  display: flex;
  align-items: center;
  gap: 2rem;

  .content {
    flex:1;
    padding-right: 4rem;
  }

  .image {
    flex: 1;
    align-items: flex-start;
  }

  .buttonbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
}